---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=<giphy_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-hour:
      - '42'
      x-ratelimit-remaining-hour:
      - '41'
      x-ratelimit-limit-day:
      - '1000'
      x-ratelimit-remaining-day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"l4EoTOlvmZQTkfhug","slug":"sonyanimation-l4EoTOlvmZQTkfhug","url":"https:\/\/giphy.com\/gifs\/sonyanimation-l4EoTOlvmZQTkfhug","bitly_gif_url":"https:\/\/gph.is\/2im2yM0","bitly_url":"https:\/\/gph.is\/2im2yM0","embed_url":"https:\/\/giphy.com\/embed\/l4EoTOlvmZQTkfhug","username":"sonyanimation","source":"","content_url":"","source_tld":"","source_post_url":"","is_sticker":0,"import_datetime":"2017-11-29
        19:56:12","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/sonyanimation\/gzKfBditFCJC.jpg","banner_url":"https:\/\/media2.giphy.com\/headers\/sonyanimation\/qedDsedylL8c.gif","banner_image":"https:\/\/media2.giphy.com\/headers\/sonyanimation\/qedDsedylL8c.gif","profile_url":"https:\/\/giphy.com\/sonyanimation\/","username":"sonyanimation","display_name":"Sony
        Pictures Animation","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200_s.gif","width":"200","height":"200","size":"33744"},"original_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy_s.gif","width":"480","height":"480","size":"153114"},"fixed_width":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w.gif","width":"200","height":"200","size":"1720238","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w.mp4","mp4_size":"476468","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w.webp","webp_size":"1088650"},"fixed_height_small_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100_s.gif","width":"100","height":"100","size":"10251"},"fixed_height_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200_d.gif","width":"200","height":"200","size":"193778","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200_d.webp","webp_size":"95538"},"preview":{"width":"150","height":"150","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-preview.mp4","mp4_size":"46928"},"fixed_height_small":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100.gif","width":"100","height":"100","size":"459051","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100.mp4","mp4_size":"175022","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100.webp","webp_size":"348046"},"downsized_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-downsized_s.gif","width":"250","height":"249","size":"49289"},"downsized":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-downsized.gif","width":"250","height":"249","size":"1828409"},"downsized_large":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-downsized-large.gif","width":"384","height":"384","size":"5302243"},"fixed_width_small_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w_s.gif","width":"100","height":"100","size":"10251"},"preview_webp":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-preview.webp","width":"99","height":"99","size":"48790"},"fixed_width_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w_s.gif","width":"200","height":"200","size":"33744"},"fixed_width_small":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w.gif","width":"100","height":"100","size":"459051","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w.mp4","mp4_size":"47805","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w.webp","webp_size":"348046"},"downsized_small":{"width":"152","height":"152","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-downsized-small.mp4","mp4_size":"179675"},"fixed_width_downsampled":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w_d.gif","width":"200","height":"200","size":"193778","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w_d.webp","webp_size":"95538"},"downsized_medium":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-downsized-medium.gif","width":"366","height":"366","size":"4820194"},"original":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.gif","width":"480","height":"480","size":"8404621","frames":"73","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.mp4","mp4_size":"1658519","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.webp","webp_size":"3735114","hash":"1615219451d93b3010d7c704185120d8"},"fixed_height":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200.gif","width":"200","height":"200","size":"1720238","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200.mp4","mp4_size":"476468","webp":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200.webp","webp_size":"1088650"},"hd":{"width":"1080","height":"1080","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-hd.mp4","mp4_size":"5280489"},"looping":{"mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-loop.mp4","mp4_size":"4883368"},"original_mp4":{"width":"480","height":"480","mp4":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.mp4","mp4_size":"1658519"},"preview_gif":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy-preview.gif","width":"94","height":"94","size":"48909"},"480w_still":{"url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/480w_s.jpg","width":"480","height":"480"}},"title":"GIF
        by Sony Pictures Animation","image_original_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.gif","image_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.gif","image_mp4_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/giphy.mp4","image_frames":"73","image_width":"480","image_height":"480","fixed_height_downsampled_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200_d.gif","fixed_height_downsampled_width":"200","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"200","fixed_height_small_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100.gif","fixed_height_small_still_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100_s.gif","fixed_height_small_width":"100","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w.gif","fixed_width_small_still_url":"https:\/\/media1.giphy.com\/media\/l4EoTOlvmZQTkfhug\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"100","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5c3648592e6170636ba46606"}}'
  recorded_at: Wed, 09 Jan 2019 19:15:37 GMT
recorded_with: VCR 4.0.0
