---
http_interactions:
- request:
    method: get
    uri: http://api.giphy.com/v1/gifs/random?api_key=<giphy_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ratelimit-limit-hour:
      - '42'
      x-ratelimit-remaining-hour:
      - '41'
      x-ratelimit-limit-day:
      - '1000'
      x-ratelimit-remaining-day:
      - '999'
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"type":"gif","id":"l4EoYzTjWpDSBVMC4","slug":"splat-nicksplat-aaahh-real-monsters-l4EoYzTjWpDSBVMC4","url":"https:\/\/giphy.com\/gifs\/splat-nicksplat-aaahh-real-monsters-l4EoYzTjWpDSBVMC4","bitly_gif_url":"https:\/\/gph.is\/2z6YxBN","bitly_url":"https:\/\/gph.is\/2z6YxBN","embed_url":"https:\/\/giphy.com\/embed\/l4EoYzTjWpDSBVMC4","username":"nicksplat","source":"nicksplat.com","content_url":"","source_tld":"","source_post_url":"nicksplat.com","is_sticker":0,"import_datetime":"2017-11-02
        14:44:03","trending_datetime":"0000-00-00 00:00:00","user":{"avatar_url":"https:\/\/media2.giphy.com\/avatars\/nicksplat\/HZP0C4lnqnnB.jpg","banner_url":"https:\/\/media2.giphy.com\/headers\/nicksplat\/RO63bVtkycy6.jpg","banner_image":"https:\/\/media2.giphy.com\/headers\/nicksplat\/RO63bVtkycy6.jpg","profile_url":"https:\/\/giphy.com\/nicksplat\/","username":"nicksplat","display_name":"NickSplat","is_verified":true},"images":{"fixed_height_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200_s.gif","width":"266","height":"200","size":"35668"},"original_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy_s.gif","width":"480","height":"360","size":"93006"},"fixed_width":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w.gif","width":"200","height":"150","size":"481749","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w.mp4","mp4_size":"98438","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w.webp","webp_size":"188538"},"fixed_height_small_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100_s.gif","width":"133","height":"100","size":"11004"},"fixed_height_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200_d.gif","width":"266","height":"200","size":"206244","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200_d.webp","webp_size":"63032"},"preview":{"width":"192","height":"144","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-preview.mp4","mp4_size":"48072"},"fixed_height_small":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100.gif","width":"133","height":"100","size":"224502","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100.mp4","mp4_size":"52374","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100.webp","webp_size":"100898"},"downsized_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-downsized_s.gif","width":"250","height":"187","size":"28999"},"downsized":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-downsized.gif","width":"250","height":"187","size":"632919"},"downsized_large":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.gif","width":"480","height":"360","size":"2231745"},"fixed_width_small_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w_s.gif","width":"100","height":"75","size":"7263"},"preview_webp":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-preview.webp","width":"160","height":"120","size":"49056"},"fixed_width_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w_s.gif","width":"200","height":"150","size":"22010"},"fixed_width_small":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w.gif","width":"100","height":"75","size":"136613","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w.mp4","mp4_size":"32841","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w.webp","webp_size":"66154"},"downsized_small":{"width":"346","height":"260","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-downsized-small.mp4","mp4_size":"124312"},"fixed_width_downsampled":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w_d.gif","width":"200","height":"150","size":"125189","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w_d.webp","webp_size":"41970"},"downsized_medium":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.gif","width":"480","height":"360","size":"2231745"},"original":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.gif","width":"480","height":"360","size":"2231745","frames":"28","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.mp4","mp4_size":"376329","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.webp","webp_size":"595064","hash":"17d26b83068894a1188739ba353cfe9f"},"fixed_height":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200.gif","width":"266","height":"200","size":"807218","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200.mp4","mp4_size":"152363","webp":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200.webp","webp_size":"280066"},"looping":{"mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-loop.mp4","mp4_size":"2846440"},"original_mp4":{"width":"480","height":"360","mp4":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.mp4","mp4_size":"376329"},"preview_gif":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy-preview.gif","width":"109","height":"82","size":"49426"},"480w_still":{"url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/480w_s.jpg","width":"480","height":"360"}},"title":"aaahh
        real monsters nicksplat GIF","image_original_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.gif","image_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.gif","image_mp4_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/giphy.mp4","image_frames":"28","image_width":"480","image_height":"360","fixed_height_downsampled_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200_d.gif","fixed_height_downsampled_width":"266","fixed_height_downsampled_height":"200","fixed_width_downsampled_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/200w_d.gif","fixed_width_downsampled_width":"200","fixed_width_downsampled_height":"150","fixed_height_small_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100.gif","fixed_height_small_still_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100_s.gif","fixed_height_small_width":"133","fixed_height_small_height":"100","fixed_width_small_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w.gif","fixed_width_small_still_url":"https:\/\/media3.giphy.com\/media\/l4EoYzTjWpDSBVMC4\/100w_s.gif","fixed_width_small_width":"100","fixed_width_small_height":"75","caption":""},"meta":{"status":200,"msg":"OK","response_id":"5c2f90995644622f732c76a3"}}'
  recorded_at: Fri, 04 Jan 2019 16:58:01 GMT
recorded_with: VCR 4.0.0
